<h1>Please Sign up</h1>

<form action="/users" method="post">
  <label for="email">
    Email
    <input type="text" name="email"><br>
  </label>
  <label for="password">
    Password
    <input type="text" name="password"><br>
  </label>
  <input type="submit" value="Register">
</form>
