<h1>Please Sign up</h1>

<form action="/users" method="post">
  <label for="email">
    Email
    <input type="text" name="email" value='<%= @user.email %>'><br>
  </label>
  <label for="password">
    Password
    <input type="text" name="password"><br>
  </label>
  <label for="password_confirmation">
    Confirm Password
    <input type="text" name="password_confirmation"><br>
  </label>
  <input type="submit" value="Register">
</form>
