<form action="/links" method="post">
  <label for="address">
    Address
    <input type="text" name="address"><br>
  </label>
  <label for="title">
    Title
    <input type="text" name="title"><br>
  </label>
  <input type="submit" value="Submit">
</form>
